#################################
# Maven
#################################
target/

#################################
# IntelliJ IDEA
#################################
.idea/
*.iml
out/

#################################
# OS files
#################################
.DS_Store
Thumbs.db

#################################
# Logs
#################################
*.log

#################################
# Compiled class files
#################################
*.class

#################################
# Local environment files
#################################
.env
application-local.yml
application-dev.yml

#################################
# Docker
#################################
docker-compose.override.yml

#################################
# JVM crash logs
#################################
hs_err_pid*
replay_pid*
